.заголовок {
	color: blue;
}
.left-col{
	float: left;
	width: 30%;
}
.right-col{
	float: right;
	width: 60%;
}
footer {
	clear: both;
}
.выравнивание {
	text-align:center;
}
.цвет  {
	color:#008000;
	background-color:#008000;
	height: 2px;
	border-width:0px;
}
.img-center {
	text-align:left;
}
.padding {
	padding-right: 50px;
}
a {
    color: green; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
   a:visited {
    color: #800080; /* Цвет посещённой ссылки */
   } 
   a:hover {
    color: blue; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }